.signin-body {
    background-color: #0c2233;
}

.container.signin-container {
    margin-top: 5%;
}


.card.signin-card {
    padding: 2rem;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(255, 255, 255, .5);
    -moz-box-shadow: 2px 2px 5px rgba(255, 255, 255, .5);

}

.card-body {
    margin: auto;
}



img.signin-img {
    display: block;
    margin: auto;
    width: 45%;
}

.signin-form {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}

.buttonSignIn {
    width: 100%;
    margin-top: 1rem;
}


.checkSignIn {
    margin-top: 1rem;
}

.checkboxSignIn {
    cursor: pointer;
}

.form-check-label a {
    text-decoration: none;
}

.createNewAccount {
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    color: #ffff;

}

